.orgchart {
    ii.arrow-icon {
        position: absolute;
        left: 45%;
        top: -6px;
        font-weight: bold;
        color: rgba(217, 83, 79, 0.8);
    }

    &>table>tr:first-child .arrow-icon  {
        display: none;
    }
}

